__pycache__/TSST.cpython-310.pyc
Feuchtesensor.mat
RegressionHumiditySensor_StandardizedInputVariables.py
FormaldehydSchaetzung.csv
Linearitaet.csv
Streuverhalten.csv
SystematischerMessfehler.csv
__pycache__/TSST.cpython-311.pyc
